<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cardápio - Doceria Dona Lu</title>
  <link rel="stylesheet" href="../PUBLIC/CSS/estilo-cardapio.css" />
</head>
<body>

  <header class="cabecalho">
    <a href="index.html">
      <img src="../PUBLIC/IMG/Logo-Doceria.png" alt="Logo da Doceria" class="logodoceria" />
    </a>
    <nav class="menu-principal">
      <ul class="texto-gradiente">
        <li><a href="index.html">Inicio</a></li>
        <li><a href="index.html#historia">História</a></li>
        <li><a href="cardapio.html">Cardápio</a></li>
        <li><a href="index.html#contato">Contato</a></li>
      </ul>
    </nav>
    <nav class="icones-sociais">
        <img src="../PUBLIC/IMG/IfoodLogotipoBranco.png" alt="iFood" />
      <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
        <img src="../PUBLIC/IMG/Whatsapp.png" alt="WhatsApp" />
      </a>
      <a href="https://www.instagram.com/doceriadonaluoficial" target="_blank">
        <img src="../PUBLIC/IMG/Instagram.png" alt="Instagram" />
      </a>
    </nav>
  </header>

  <nav class="ondulacao-topo">
    <svg viewBox="0 0 1200 100" preserveAspectRatio="none">
      <defs>
        <linearGradient id="gradiente-onda" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" stop-color="#FDEEF5" />
          <stop offset="50%" stop-color="#FDEEF5" />
          <stop offset="50%" stop-color="#992842" />
          <stop offset="100%" stop-color="#992842" />
        </linearGradient>
      </defs>
      <path d="M0,105 C300,0 900,175 1200,43 L1200,0 L0,0 Z" fill="#FDEEF5"></path>
      <path d="M0,90 C300,0 900,150 1200,50 L1200,0 L0,0 Z" fill="url(#gradiente-onda)"></path>
    </svg>
  </nav>

  <nav class="ondulacao-base">
    <svg viewBox="0 0 1200 100" preserveAspectRatio="none">
      <defs>
        <linearGradient id="gradiente-onda" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" stop-color="#FDEEF5" />
          <stop offset="50%" stop-color="#FDEEF5" />
          <stop offset="50%" stop-color="#992842" />
          <stop offset="100%" stop-color="#992842" />
        </linearGradient>
      </defs>
      <path d="M0,50 C300,-40 900,120 1200,20 L1200,100 L0,100 Z" fill="#992842"></path>
    </svg>
  </nav>
  

  <section class="produtos-section">
    <div class="produto-container">
        <h2 class="texto-produto" id="bolos">Bolos</h2>

        <nav class="botoes-acao">
            <a href="https://api.whatsapp.com/send?phone=5511986337175" class="btn-whatsapp" target="_blank">
                <h3>SAIBA +</h3>
                <img src="../PUBLIC/IMG/whats_vinho.png" alt="WhatsApp" />
            </a>
        </nav>
    </div>

    <nav class="produtos-container">
      <nav class="produto-card">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/Bolodefesta.png" alt="Bolo de festa" />
        </a>
      </nav>
      <nav class="produto-card">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/Bolocafedamanha.png" alt="Bolo café da Manhã" />
        </a>
      </nav>
      <nav class="produto-card">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/Bolodepote.png" alt="Bolo de Pote" />
        </a>
      </nav>
    </nav>
  </section>

  <nav class="ondulacao-topo">
    <svg viewBox="0 0 1200 100" preserveAspectRatio="none">
      <defs>
        <linearGradient id="gradiente-onda" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" stop-color="#FDEEF5" />
          <stop offset="50%" stop-color="#FDEEF5" />
          <stop offset="50%" stop-color="#992842" />
          <stop offset="100%" stop-color="#992842" />
        </linearGradient>
      </defs>
      <path d="M0,90 C300,0 900,175 1200,50 L1200,0 L0,0 Z" fill="#992842"></path>
      <path d="M0,90 C300,0 900,150 1200,50 L1200,0 L0,0 Z" fill="#992842"></path>
    </svg>
  </nav>

  <section class="produtos-section2">
    <div class="produto-container2">
        <h2 class="texto-produto2" id="doces">Doces</h2>

        <nav class="botoes-acao2">
            <a href="https://api.whatsapp.com/send?phone=5511986337175" class="btn-whatsapp" target="_blank">
                <h3>SAIBA +</h3>
                <img src="../PUBLIC/IMG/Whatsapp.png" alt="WhatsApp" />
            </a>
        </nav>
    </div>
    <nav class="produtos-container">
      <nav class="produto-card2">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/brigadeiro.png" alt="Brigadeiro" />
        </a>
      </nav>
      <nav class="produto-card2">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/bejinho.png" alt="Beijinho" />
        </a>
      </nav>
      <nav class="produto-card2">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/bichodepe.png" alt="Bicho de pé" />
        </a>
      </nav>
    </nav>
  </section>

  <nav class="ondulacao-base">
    <svg viewBox="0 0 1200 100" preserveAspectRatio="none">
      <defs>
        <linearGradient id="gradiente-onda" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" stop-color="#FDEEF5" />
          <stop offset="50%" stop-color="#FDEEF5" />
          <stop offset="50%" stop-color="#992842" />
          <stop offset="100%" stop-color="#992842" />
        </linearGradient>
      </defs>
      <path d="M0,50 C300,-40 900,120 1200,20 L1200,100 L0,100 Z" fill="#992842"></path>
    </svg>
  </nav>
  

  <section class="produtos-section">
    <div class="produto-container">
        <h2 class="texto-produto" id="sobremesas">Sobremesas</h2>

        <nav class="botoes-acao">
            <a href="https://api.whatsapp.com/send?phone=5511986337175" class="btn-whatsapp" target="_blank">
                <h3>SAIBA +</h3>
                <img src="../PUBLIC/IMG/whats_vinho.png" alt="WhatsApp" />
            </a>
        </nav>
    </div>
    <nav class="produtos-container">
      <nav class="produto-card">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/pudim.png" alt="Pudim" />
        </a>
      </nav>
      <nav class="produto-card">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/pao de mel.png" alt="Pão de Mel" />
        </a>
      </nav>
      <nav class="produto-card">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/trufa.png" alt="Trufa" />
        </a>
      </nav>
    </nav>
  </section>

  <nav class="ondulacao-topo">
    <svg viewBox="0 0 1200 100" preserveAspectRatio="none">
      <defs>
        <linearGradient id="gradiente-onda" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" stop-color="#FDEEF5" />
          <stop offset="50%" stop-color="#FDEEF5" />
          <stop offset="50%" stop-color="#992842" />
          <stop offset="100%" stop-color="#992842" />
        </linearGradient>
      </defs>
      <path d="M0,90 C300,0 900,175 1200,43 L1200,0 L0,0 Z" fill="#992842"></path>
      <path d="M0,90 C300,0 900,150 1200,50 L1200,0 L0,0 Z" fill="#992842"></path>
    </svg>
  </nav>


  <section class="produtos-section2">
    <div class="produto-container2">
        <h2 class="texto-produto2" id="salgados">Salgados</h2>

        <nav class="botoes-acao2">
            <a href="https://api.whatsapp.com/send?phone=5511986337175" class="btn-whatsapp" target="_blank">
                <h3>SAIBA +</h3>
                <img src="../PUBLIC/IMG/Whatsapp.png" alt="WhatsApp" />
            </a>
        </nav>
    </div>
    <nav class="produtos-container">
      <nav class="produto-card2">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/coxinha.png" alt="Coxinha" />
        </a>
      </nav>
      <nav class="produto-card2">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/risole.png" alt="Risole" />
        </a>
      </nav>
      <nav class="produto-card2">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/kibe.png" alt="Kibe" />
        </a>
      </nav>
    </nav>
  </section>

  <footer>
    Copyright&copy;2025 Doceria Dona Lu. Todos os direitos reservados.
  </footer>

  <button id="btn-topo" title="Voltar ao topo">↑</button>

  <script src="../PUBLIC/JS/script.js"></script>
</body>
</html>