<!DOCTYPE html>
<html lang="pt-BR">
<head> 
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Doceria Dona Lu</title>
  <link rel="stylesheet" href="../PUBLIC/CSS/estilo-inicio.css" />
</head>
<body>

  <header class="cabecalho">
      <a href="index.html">
        <img src="../PUBLIC/IMG/Logo-Doceria.png" alt="Logo da Doceria" class="logodoceria" />
      </a>
    <nav class="menu-principal">
        <ul class="texto-gradiente">
          <li><a href="index.html">Inicio</a></li>
          <li><a href="#historia">História</a></li>
          <li><a href="cardapio.html">Cardápio</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
    </nav>
    <nav class="icones-sociais">
          <img src="../PUBLIC/IMG/IfoodLogotipoBranco.png" alt="iFood">
        <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
          <img src="../PUBLIC/IMG/Whatsapp.png" alt="WhatsApp" />
        </a>
        <a href="https://www.instagram.com/doceriadonaluoficial" target="_blank">
          <img src="../PUBLIC/IMG/Instagram.png" alt="Instagram" />
        </a>
    </nav>
  </header>

  <main>
    <section class="bloco-texto-imagem">
        <nav class="texto">
          <h1>CELEBRE OS MOMENTOS DOCES DA VIDA</h1>
          <p>
            Oferecemos uma seleção cuidadosamente <br> elaborada ou, se preferir,
            você pode criar <br> um bolo personalizado, feito com todo <br> carinho para
            tornar sua ocasião ainda mais única.
          </p>
          <nav class="botoes-acao">
            <a href="cardapio.html" class="btn-cardapio">
              <h3>Cardápio</h3>
            </a>
            <a href="https://api.whatsapp.com/send?phone=5511986337175" class="btn-whatsapp" target="_blank">
              <img src="../PUBLIC/IMG/Whatsapp-W.png" alt="WhatsApp" />
            </a>
          </nav>
        </nav>
        <nav class="imagem">
          <img src="../PUBLIC/IMG/DonaLu.png" alt="Dona Lu" />
        </nav>
    </section>
  </main>

  <nav class="ondulacao-topo">
      <svg viewBox="0 0 1200 100" preserveAspectRatio="none">
        <defs>
          <linearGradient id="gradiente-onda" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#FDEEF5" />
            <stop offset="50%" stop-color="#FDEEF5" />
            <stop offset="50%" stop-color="#992842" />
            <stop offset="100%" stop-color="#992842" />
          </linearGradient>
        </defs>
        <path d="M0,105 C300,0 900,170 1200,60 L1200,0 L0,0 Z" fill="#992842"></path>
        <path d="M0,90 C300,0 900,150 1200,30 L1200,0 L0,0 Z" fill="url(#gradiente-onda)"></path>
      </svg>
  </nav>

  <section class="banner-doceria" id="historia">
      <nav class="conteudo-banner">
        <h2>A História da Doceria Dona Lu</h2>
        <p>A Doceria Dona Lu nasceu do amor pela confeitaria e do desejo de <br> transformar momentos simples em memórias doces. Há 9 anos, Dona <br> Lu realiza o sonho de encantar clientes com bolos e sobremesas que <br> carregam sabor, afeto e aquele toque especial de lar. <br> Mais do que um negócio, a doceria é um legado pensado para sua <br> família, um espaço onde cada receita é feita com carinho, atenção <br> aos detalhes e o autêntico sabor de um bolo caseiro. Em um ambiente <br> acolhedor e familiar, a Doceria Dona Lu representa tradição, cuidado e <br> conexão com quem realmente importa. 
        </p>
      </nav>
  </section>

  <nav class="ondulacao-base">
      <svg viewBox="0 0 1200 100" preserveAspectRatio="none">
        <defs>
          <linearGradient id="gradiente-onda" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" stop-color="#FDEEF5" />
            <stop offset="50%" stop-color="#FDEEF5" />
            <stop offset="50%" stop-color="#992842" />
            <stop offset="100%" stop-color="#992842" />
          </linearGradient>
        </defs>
        <path d="M0,50 C300,-40 900,120 1200,20 L1200,100 L0,100 Z" fill="#992842"></path>
      </svg>
  </nav>

  <section class="produtos-section">
      <h2 class="texto-produto">Produtos</h2>
      <nav class="produtos-container">
        <nav class="produto-card">
          <a href="cardapio.html#bolos">
            <img src="../PUBLIC/IMG/Bolos.png" alt="Bolo" />
          </a>
        </nav>
        <nav class="produto-card">
          <a href="cardapio.html#doces">
            <img src="../PUBLIC/IMG/Doces.png" alt="Doces" />
          </a>
        </nav>
        <nav class="produto-card">
          <a href="cardapio.html#sobremesas">
            <img src="../PUBLIC/IMG/Sobremesas.png" alt="Sobremesa" />
          </a>
        </nav>
        <nav class="produto-card">
          <a href="cardapio.html#salgados">
            <img src="../PUBLIC/IMG/Salgados.png" alt="Salgados" />
          </a>
        </nav>
      </nav>
  </section>

  <section class="contato-section" id="contato">
      <nav class="contato-info">
        <h2>Contate-nos</h2>
        <nav class="contato-item">
          <a href="https://www.google.com.br/maps/place/Doceria+Dona+Lu/@-23.5567149,-46.3957597,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce65ebcdebcde7:0xc0e4d36786ea470a!8m2!3d-23.5567149!4d-46.3931848!16s%2Fg%2F11jp054r1m?entry=ttu&g_ep=EgoyMDI1MDUxMy4xIKXMDSoASAFQAw%3D%3D" target="_blank">
            <strong>Endereço:</strong> Rua João Batista da Silva, 65
          </a>
        </nav>

        <nav class="contato-item">
          <a href="https://api.whatsapp.com/send?phone=5511986337175" target="_blank">
            <img src="../PUBLIC/IMG/whats_vinho.png" alt="WhatsApp" class="icone-contato" /> (11) 98633-7175
          </a>
        </nav>

        <nav class="contato-item">
          <a href="https://www.instagram.com/doceriadonaluoficial" target="_blank">
            <img src="../PUBLIC/IMG/insta_vinho.png" alt="Instagram" class="icone-contato" /> @doceriadonaluoficial
          </a>
        </nav>
      </nav>

      <nav class="contato-mapa">
        <a href="https://www.google.com.br/maps/place/Doceria+Dona+Lu/@-23.5567149,-46.3957597,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce65ebcdebcde7:0xc0e4d36786ea470a!8m2!3d-23.5567149!4d-46.3931848!16s%2Fg%2F11jp054r1m?entry=ttu&g_ep=EgoyMDI1MDUxMy4xIKXMDSoASAFQAw%3D%3D" target="_blank">
          <img src="../PUBLIC/IMG/Localização.png" alt="Localização da Doceria Dona Lu"/>
        </a>
      </nav>
  </section>

  <footer>
      Copyright&copy;2025 Doceria Dona Lu. Todos os direitos reservados.
  </footer>

  <button id="btn-topo" title="Voltar ao topo">↑</button>

  <script src="../PUBLIC/JS/script.js"></script>
</body>
</html>